/* CSS for about.html page*/

html{
	overflow: auto;
}

body div.opening{
	margin-top:0px;
	margin-left: auto;
	margin-right: auto;
}

body div.opening p{
	color: #fff;
	font-size: 18px;
	line-height: 1.5;
	padding: 0px, 0px;
	margin-left: 308px;
	text-align: left;
	display:block;
	width: 700px;
	margin-top: -5px
}

.signature{
	display: block;
	margin-top: 30px;
	margin-left: 540px;
}

img.thatsme{
	display: block;
	float: left; 
	position: relative;
	width: 200px;
	margin-left: 70px;
	padding: 7px 15px 5px 0;
	
	/* round top-left corner */
	border-top-left-radius: 40px;
	-moz-border-radius-topleft: 40px;
	-webkit-border-top-left-radius: 40px;
	
	/* round top-right corner */
	/* border-top-right-radius: 40px;
	-moz-border-radius-topright: 40px;
	-webkit-border-top-right-radius: 40px; */
    
	/* round bottom-right corner */
	border-bottom-right-radius: 40px;
	-moz-border-radius-bottomright: 40px;
	-webkit-border-bottom-right-radius: 40px;
    
	/* round bottom-left corner */
	/* border-bottom-left-radius: 40px;
	-moz-border-radius-bottomleft: 40px;
	-webkit-border-bottom-left-radius: 40px; */
	
}